<section id="collections-id" class="collections-container">
    <h2 class="collections-title">NEW COLLECTION</h2>
    <div class="mySwiper collections-swiper">
        <ul class="collections-list swiper-wrapper collections-swiper-wrapper">
            <li class="swiper-slide collection-swiper-slide">
                <img
                    srcset="../img/collections/foto6-1x.jpg 1x,
                    ../img/collections/foto6-2x.jpg  2x"
                    src="../img/collections/foto6-1x.jpg"
                    alt="Plant"
                    class="collection-image"
                />
            </li>
            <li class="swiper-slide collection-swiper-slide">
                <img
                    srcset="../img/collections/foto7-1x.jpg 1x,
                    ../img/collections/foto7-2x.jpg  2x"
                    src="../img/collections/foto7-1x.jpg"
                    alt="Plant"
                    class="collection-image"
                />
            </li>
            <li class="swiper-slide collection-swiper-slide">
                <img
                    srcset="../img/collections/foto8-1x.jpg 1x,
                    ../img/collections/foto8-2x.jpg  2x"
                    src="../img/collections/foto8-1x.jpg"
                    alt="Plant"
                    class="collection-image"
                />
            </li>
        </ul>
    </div>
    <div>
        <p class="collections-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
</section>
