<section id="collections-id" class="collections-container">
    <h2 class="collections-title">NEW COLLECTION</h2>
    <div class="mySwiper collections-swiper">
        <ul class="collections-list swiper-wrapper collections-swiper-wrapper">
            <li class="swiper-slide collection-swiper-slide">
                <picture>
                    <source media="(max-width: 991px)" srcset="../img/collections/foto6-1x.png, ../img/collections/foto6-2x.png ">
                    <source media="(min-width: 992px) and (max-width: 1365px)" srcset="../img/collections/foto6-tablet-1x.png, ../img/collections/foto6-tablet-2x.png ">
                    <source media="(min-width: 1366px) and (max-width: 1919px)" srcset="../img/collections/foto6-laptop-1x.png, ../img/collections/foto6-laptop-1x.png ">
                    <source media="(min-width: 1920px)" srcset="./images/product/ice-cream_xl@1x.png, ./images/product/ice-cream_xl@2x.png ">
            
                    <img
                    class="collection-image"
                    src="../img/collections/foto6-tablet-1x.png"
                    alt="collection-image"
                />
                </picture>
            </li>
            <li class="swiper-slide collection-swiper-slide">
                <picture>
                    <source media="(max-width: 991px)" srcset="../img/collections/foto7-1x.png, ../img/collections/foto7-2x.png ">
                    <source media="(min-width: 992px) and (max-width: 1365px)" srcset="../img/collections/foto7-tablet-1x.png, ../img/collections/foto7-tablet-2x.png ">
                    <source media="(min-width: 1366px) and (max-width: 1919px)" srcset="../img/collections/foto7-laptop-1x.png, ../img/collections/foto6-laptop-2x.png">
                    <source media="(min-width: 1920px)" srcset="./images/product/ice-cream_xl@1x.png, ./images/product/ice-cream_xl@2x.png ">
            
                    <img
                    class="collection-image"
                    src="../img/collections/foto7-tablet-1x.png"
                    alt="collection-image"
                />
                </picture>
            </li>
            <li class="swiper-slide collection-swiper-slide">
                <picture>
                    <source media="(max-width: 991px)" srcset="../img/collections/foto8-1x.png, ../img/collections/foto8-2x.png ">
                    <source media="(min-width: 992px) and (max-width: 1365px)" srcset="../img/collections/foto8-tablet-1x.png, ../img/collections/foto8-tablet-2x.png ">
                    <source media="(min-width: 1366px) and (max-width: 1919px)" srcset="../img/collections/foto8-laptop-1x.png, ../img/collections/foto6-laptop-2x.png ">
                    <source media="(min-width: 1920px)" srcset="./images/product/ice-cream_xl@1x.png, ./images/product/ice-cream_xl@2x.png ">
            
                    <img
                    class="collection-image"
                    src="../img/collections/foto8-tablet-1x.png"
                    alt="collection-image"
                />
                </picture>
            </li>
        </ul>
        
    </div>
    <div class="collections-wrapper">
        <p class="collections-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
</section>
