<footer id="footer-id" class="footer-container">
    <h2 class="footer-title">FOLLOW US</h2>
    <div class="footer-wrapper">
        <form class="footer-form">
            <input
              class="form__input"
              type="text"
              name="username"
              placeholder="Enter your name"
              pattern="[A-Za-z0-9а-яА-Я]{5,}"
              title="Логін не может бути меншим за 5 латинських символів."
              required
            />
            <input
              class="form__input"
              type="email"
              name="email"
              placeholder="Enter a valid email address"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            />
            <textarea
            class="form-textarea form__input"
            name="comment"
            placeholder="Enter your message"
            ></textarea>

          <button type="submit" class="footer-btn">
            SUBMIT
          </button>
        </form>
        <div class="footer-color-wrapp">
          <picture>
            <source media="(max-width: 991px)" srcset="../img/footer/girl-with-plant-1x.jpg, ../img/footer/girl-with-plant-2x.jpg ">
            <source media="(min-width: 992px) and (max-width: 1365px)" srcset="../img/footer/girl-with-plant-tablet-1x.jpg, ../img/footer/girl-with-plant-tablet-1x.jpg">
            <source media="(min-width: 1366px) and (max-width: 1919px)" srcset="./images/product/ice-cream_xl@1x.png, ./images/product/ice-cream_xl@2x.png ">
            <source media="(min-width: 1920px)" srcset="./images/product/ice-cream_xl@1x.png, ./images/product/ice-cream_xl@2x.png ">
    
            <img
            class="footer-image"
            src="../img/footer/girl-with-plant-tablet-1x.jpg"
            alt="girl-with-plant"
        />
        </picture>
        </div>
      </div>
</footer>