<section id="gallery-id" class="gallery-container">
    <h2 class="gallery-title">SHOP BY CATEGORIES</h2>
    <div class="swiper mySwiper">
      <ul class="gallery-list swiper-wrapper">
        <li class="swiper-slide">
          <!-- <picture>
            <source media="(max-width: 991px)" srcset="../img/gallery/foto1_1x.jpg, ../img/gallery/foto1_2x.jpg ">
            <source media="(min-width: 992px) and (max-width: 1365px)" srcset="../img/gallery/foto1-tablet-1x.jpg, ../img/gallery/foto1-tablet-2x.jpg ">
            <source media="(min-width: 1366px) and (max-width: 1919px)" srcset="./images/product/ice-cream_xl@1x.png, ./images/product/ice-cream_xl@2x.png ">
            <source media="(min-width: 1920px)" srcset="./images/product/ice-cream_xl@1x.png, ./images/product/ice-cream_xl@2x.png ">
    
            <img
            class="gallery-image"
            src="../img/gallery/foto1-tablet-1x.jpg"
            alt="plant image"
        />
        </picture> -->
            <img
            srcset="../img/gallery/foto1_1x.jpg 1x,
            ../img/gallery/foto1_2x.jpg  2x"
            src="../img/gallery/foto1_1x.jpg"
            alt="Plant"
            class="gallery-image"
          />
        </li>
        <li class="swiper-slide">
            <img
            srcset="../img/gallery/foto2_1x.jpg 1x,
            ../img/gallery/foto2_2x.jpg  2x"
            src="../img/gallery/foto2_1x.jpg"
            alt="Plant"
            class="gallery-image"
          />
        </li>
        <li class="swiper-slide">
            <img
            srcset="../img/gallery/foto3_1x.jpg 1x,
            ../img/gallery/foto3_2x.jpg  2x"
            src="../img/gallery/foto3_1x.jpg"
            alt="Plant"
            class="gallery-image"
          />
        </li>
        <li class="swiper-slide">
            <img
            srcset="../img/gallery/foto4_1x.jpg 1x,
            ../img/gallery/foto4_2x.jpg  2x"
            src="../img/gallery/foto4_1x.jpg"
            alt="Plant"
            class="gallery-image"
          />
        </li>
   </ul>
   <div class="gallery-static-img">
    <img
            srcset="../img/gallery/foto5_1x.jpg 1x,
            ../img/gallery/foto5_2x.jpg  2x"
            src="../img/gallery/foto4_5x.jpg"
            alt="Plant"
            class="gallery-image"
          />
   </div>
    </div>
  </section>