<header class="header">
  <div class="header-container container">    
      <nav class="header-navigation">
        <p href="/" class="header-logo">ALTANSCHOOL WEB COURSES</p>
        </nav>
    <button type="button" class="header-button-menu" aria-label="toggle-menu">
      <img class="header-button-menu" src="../img/header/menu.svg" alt="icon-menu" />
    </button>
    <nav class="header-desk-nav">
      <ul class="header-list">
        <li class="header-item">
          <a href="#hero-id" class="header-link">HOME</a>
        </li>
        <li class="header-item">
          <a href="#about-id" class="header-link">ABOUT</a>
        </li>
        <li class="header-item">
          <a href="#gallery-id" class="header-link">SHOP</a>
        </li>
        <li class="header-item">
          <a href="#collections-id" class="header-link">BLOG</a>
        </li>
        <li class="header-item">
          <a href="#footer-id" class="header-link">CONTACT</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
