<header class="header">
  <div class="header-container container">    
      <nav class="header-navigation">
        <p href="/" class="header-logo">ALTANSCHOOL WEB COURSES</p>
        </nav>
    <button type="button" class="header-button-menu" aria-label="toggle-menu">
      <!-- <svg class="header-menu" width="12" height="20">
        <use href="../img/symbol-defs.svg#icon-menu"></use>
      </svg> -->
      <img class="header-button-menu" src="../img/menu.svg" alt="icon-menu" />

      <!-- <svg class="header-button-icon-close hidden" width="24" height="24">
        <use href="/img/sprite.svg#icon-menu-close"></use>
      </svg> -->
    </button>
  </div>
</header>
