<section id="hero-id" class="hero-container container">
    <div class="hero-description">
      <h1 class="hero-title">
        ORGANIC FASHION
      </h1>
      <div class="hero-contant">
        <div class="hero-part"><p class="hero-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
          <button type="button" class="hero-button" >SHOP NOW
      </button>
    </div>
    <div class="hero-wrapper">
      <picture>
        <source media="(max-width: 991px)" srcset="./img/hero/hero-plant-1x.png, ./img/hero/hero-plant-2x.png ">
        <source media="(min-width: 992px) and (max-width: 1365px)" srcset="./img/hero/hero-plant-tablet-1x.png, ./img/hero/hero-plant-tablet-2x.png ">
        <source media="(min-width: 1366px) and (max-width: 1919px)" srcset="./img/hero/hero-plant-laptop-1x.jpg, ./img/hero/hero-plant-laptop-2x.jpg ">
        <source media="(min-width: 1920px)" srcset="./img/hero/hero-plant-desktop-1x.jpg, ./img/hero/hero-plant-desktop-1x.jpg">

        <img
        class="hero-image-plant"
        src="./img/hero/hero-plant-tablet-1x.png"
        alt="plant image"
    />
    </picture>
    </div>
      </div>
    </div>