<section id="hero-id" class="hero-container container">
    <div class="hero-description">
      <h1 class="hero-title">
        ORGANIC FASHION
      </h1>
      <div class="hero-contant">
        <div class="hero-part"><p class="hero-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
          <button type="button" class="hero-button" >SHOP NOW
      </button></div>
          <img
          class="hero-image--plant"
          srcset="
            ./img/hero/hero-plant-1x.png,
            ./img/hero/hero-plant-2x.png,
          "
          sizes="(min-width: 1920px), (min-width: 1366px), (min-width: 992px), (min-width: 375px)
                100vw"
          src="./images/hero/hero-plant-1x.png "
          alt="plant"
          loading="lazy"
        />
      </div>
      
      <!-- <picture>
        <source
          srcset="
            ./img/hero/hero-plant-1x.png    1x,
            ./img/hero/hero-plant-2x 2x
          "
          type="image/png"
          media="(min-width: 1200px)"
        />
      </picture> -->
      
    </div>