.about-container {
    margin-top: 164px;
    @media screen and (min-width: 992px) {
        margin-top: 278px;
    }
    @media screen and (min-width: 1366px) {
        margin-top: 266px;
    }
}

.about-title {
    font-family: "Crimson Text", serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.15em;
    font-size: 20px;
    margin: 0;
    margin-bottom: 32px;
    text-align: center;
    @media screen and (min-width: 992px) {
     font-size: 32px;
     margin-left: 350px;
     margin-right: 458px;
    }
    @media screen and (min-width: 1366px) {
        padding-top: 106px;
        margin-right: 676px;
        margin-left: 505px;
       }
       @media screen and (min-width: 1920px) {
        padding-top: 200px;
        margin-right: 958px;
        margin-left: 676px;
        font-size: 48px;
       }
}

.about-text,
.about-text2 {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    width: 283px;
    height: 305px;
    font-size: 16px;
    margin: 0;
    align-items: center;
    text-align: center;
    margin-left: 34px;
    margin-right: auto;
    @media screen and (min-width: 992px) {
        width: 561px;
        height: 227px;
        margin-right: 77px;
        margin-left: 350px;
        text-align: left;
        font-size: 20px;
    }
    @media screen and (min-width: 1366px) {
        width: 724px;
        height: 182px;
        margin-right: 136px;
        margin-left: 505px;
       }
       @media screen and (min-width: 1920px) {
        width: 1085px;
        height: 188px;
        margin-left: 676px;
        font-size: 36px;
       }
      
}

.about-text2 {
width: 280px;
height: 105px;
margin-bottom: 30px;
font-size: 15px;
@media screen and (min-width: 992px) {
    margin-top: -210px;
    margin-bottom: 38px;
    width: 562px;
    height: 97px;
    font-size: 20px;
}
@media screen and (min-width: 1366px) {
    width: 725px;
    height: 105px;
    margin-top: -380px;
}
@media screen and (min-width: 1920px) {
    margin-left: 676px;
    font-size: 36px;
    width: 1085px;
    height: 188px;
    margin-top: -470px;
   }
}

.about-image {
    width: 198px;
    height: 250px;
    margin-top: 50px;
    margin-bottom: 38px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 992px) {
    width: 252px;
    height: 508px;
    margin-left: 58px;
    margin-right: 682px;
    margin-top: -320px;
    }
    @media screen and (min-width: 1366px) {
        width: 316px;
        height: 626px;
        margin-top: -260px;
        margin-left: 89px;
    }
    @media screen and (min-width: 1920px) {
        width: 474px;
        height: 938px;
        margin-right: 141px;
        margin-left: 63px;
        margin-top: -290px;
    }
}

.about-btn {
    display: flex;
    width: 149px;
    height: 43px;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    border-radius: 10px;
    border: 5px solid #8E9A82;
    z-index: 20;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    @media screen and (min-width: 992px) {
        width: 201px;
        height: 46px;
        margin-left: 352px;
        margin-right: 445px;
        margin-top: 38px;
        letter-spacing: 0.15em;
        font-size: 20px;
    }
    @media screen and (min-width: 992px) {
        width: 205px;
        height: 58px;
        margin-right: 628px;
        margin-left: 505px;
    }
    @media screen and (min-width: 1920px) {
        width: 351px;
        height: 88px;
        margin-right: 891px;
        margin-left: 676px; 
        margin-top: 94px; 
        font-size: 36px; 
 }
}
.about-color-wrapper{
    padding-bottom: 90px;
    background-color: white;
    @media screen and (min-width: 992px) {
        padding-bottom: 47px;
    }
    @media screen and (min-width: 1366px) {
        padding-bottom: 263px;
    }
    @media screen and (min-width: 1920px) {
        padding-bottom: 177px;
        background-color: #FAF9F8;
    }
}