.collections-container{
    margin-bottom: 60px;
}

.collections-image {
    object-fit: cover;
    width: 100%;
    height: 179px ;
    
    margin-right: 5px;
}

.collections-swiper{
    margin-bottom: 22px;
}

.collections-title {  
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.15em;
    font-size: 20px;
    margin: 0;
    margin-bottom: 38px;
    text-align: center;
  }

  .collection-swiper-slide {
    margin-right: 36px;
    margin-left: 26px;
    overflow: visible;
  }
  
  .collection-image {
    max-width: 177px;
    max-height: 179px;
  }

  .collections-text {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    width: 298px;
    height: 42px;
    letter-spacing: 0.15em;
    font-size: 15px;
    margin: 0;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-top: 22px;
    margin-right: auto;
    
  }