.collections-container{
    margin-bottom: 60px;
    background-color: #F1F1F1;
    
}

.collections-image {
    object-fit: cover;
    width: 100%;
    height: 179px ;
    
    margin-right: 5px;
    @media screen and (min-width: 992px) {
      height: 264px;
    }
}

.collections-swiper{
    position: relative;
    margin-bottom: 22px;
    width: 100%;
    overflow: hidden;
}

.collections-title {  
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.15em;
    font-size: 20px;
    margin: 0;
    margin-bottom: 38px;
    padding-top: 40px;
    text-align: center;
    @media screen and (min-width: 992px) {
      font-size: 32px;
      width: 312px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .collection-swiper-slide {
    margin-right: 36px;
    margin-left: 26px;
    object-fit: cover;
    max-width: 177px;
    max-height: 179px;
    // height: auto;
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    position: relative;
    flex-shrink: 0;
    width: 33%; /* Кожен слайд буде займати 33% ширини */
    height: auto;
    @media screen and (min-width: 992px) {
      max-width: 262px;
    max-height: 264px;
  }
  }
  
  .collections-swiper-wrapper{
     max-height: 201px;
  }

  .collections-text {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    width: 298px;
    letter-spacing: 0.15em;
    font-size: 15px;
    margin: 0;
    align-items: center;
    text-align: center;
    margin-left: 34px;
    padding-top: 98px;
    margin-right: auto;

    @media screen and (min-width: 992px) {
      font-size: 32px;
      width: 748px;
      height: 66px;
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
    }
    
  }

  .collections-swiper-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  /* Відображення зображень */
.collection-image {
  width: 177px;
  height: 179px;
  object-fit: cover;
  margin-right: 5px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  @media screen and (min-width: 992px) {
    width: 262px;
    height: 264px;
  }
}

/* Центральний слайд - збільшене зображення */
.swiper-slide-active .collection-image {
  transform: scale(0.8); /* Бокові слайди зменшуються */
  opacity: 0.5; /* Прозорість для бокових зображень */
  @media screen and (min-width: 992px) {
    transform: scale(1);
    opacity: 1;
  }
}

// .swiper-slide:not(.swiper-slide-active) .collection-image{
//   opacity: 1;
//   transform: scale(1); /* або інші стилі для неактивного слайду */
// }


// // /* Бокові слайди - зменшення */
.swiper-slide-prev .collection-image,
.swiper-slide-next .collection-image {
  
  transform: scale(1); /* Центральний слайд збільшується */
  opacity: 1; /* Центральний слайд чіткий */
}

/* Загальні стилі для обробки слайдів */
.collections-swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 992px) {
    max-height: 264px;
    gap:40px
  }
}

.collections-wrapper{
  position: absolute;
  top: 1030px;
  width: 646px;
  height: 204px;
  background-color: #DBDBDB;
  @media screen and (min-width: 992px) {
    top: 1500px;
    width: 999px;
    height: 316px;
  }
}