.gallery-container{
    margin: 0;
    padding-top: 26px;
    background-color: white;
    @media screen and (min-width: 992px) {
      padding-top: 55px;
      margin-bottom: 50px;
    }
}

.gallery-title {  
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.15em;
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 992px) {
    font-size: 32px;
    width: 312px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.gallery-image {
    object-fit: cover;
    width: 100%;
    height: 136px ;
    
    margin-right: 5px;
    @media screen and (min-width: 992px) {
      width: 213px;
      height: 275px;
    }
}

.swiper-slide {
    object-fit: cover;
    max-width: 133px;
    max-height: 136px;
    height: auto;
    position: relative;
    
  }

  .swiper-wrapper {
    padding: 0;
    max-height: 136px;
    @media screen and (min-width: 992px) {
      width: 999px;
      height: 275px;
    }
}
  .gallery-static-img{
    margin-top: 10px;
    width: 375px;
    height: 89px;
  }