.gallery-container{
    margin: 0;
    padding-top: 26px;
    background-color: white;
    @media screen and (min-width: 992px) {
      padding-top: 55px;
    }
    @media screen and (min-width: 1366px) {
      background-color: #FAF9F8;
      
    }
    @media screen and (min-width: 1920px) {
      background-color: white;
      padding-top: 96px;
    }
}

.gallery-title {  
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.15em;
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 992px) {
    font-size: 32px;
    width: 312px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1366px) {
    width: 426px;
    padding-top: 0;
    margin-bottom: 102px;
  }
  @media screen and (min-width: 1920px) {
    width: 100%;
    height: 63px;
    font-size: 48px;
    margin-bottom: 59px;
  }
}

.gallery-image {
    object-fit: cover;
    width: 100%;
    height: 136px ;
    
    margin-right: 5px;
    @media screen and (min-width: 992px) {
      width: 269px;
      height: 275px;
    }
    @media screen and (min-width: 1366px) {
      width: 368px;
      height: 390px;
    }
    @media screen and (min-width: 1920px) {
      width: 517px;
      height: 528px;
    }
}

.swiper-slide {
    object-fit: cover;
    max-width: 133px;
    max-height: 136px;
    height: auto;
    position: relative;
    @media screen and (min-width: 992px) {
      max-width: 269px;
      max-height: 275px;
    }
    @media screen and (min-width: 1366px) {
      max-width: 368px;
      max-height: 390px;
    }
    @media screen and (min-width: 1920px) {
      max-width: 517px;
      max-height: 528px;
    }
  }

  .swiper-wrapper {
    padding: 0;
    max-height: 136px;
    @media screen and (min-width: 992px) {
      // width: 100%;
      max-height: 275px;
    }
    @media screen and (min-width: 1366px) {
      max-height: 390px;
    }
}
  .gallery-static-img{
    margin-top: 5px;
    width: 375px;
    @media screen and (min-width: 992px) {
      width: 100%;
      height: 185px;
    }
    @media screen and (min-width: 1366px) {
      height: 263px;
    }
    @media screen and (min-width: 1920px) {
      height: 355px;
      margin-top: 150px;
    }
  }
