.header {
  position: sticky;
  top: 0;
  z-index: 30;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.header-button-menu {
  display: flex;
  width: 63px;
  height: 47px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 9px 14px;
  border: none;
  z-index: 20;
}

.header-logo {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-left: 20px;
}